@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-blue: #4269f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #edeef2;
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  grid-auto-rows: auto;
  display: grid;
  gap: -20px;
  background-color: var(--primary-blue);
  height: 100%;
  width: 250px;
  align-items: center;
  color: white;
  font-weight: bold;
  z-index: 100;
}

.dashboard-block {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-size: 25px;
  height: auto;
}

.dashboard-block img {
  filter: invert(1);
  width: 30px;
}

.sidebar-separation {
  z-index: 99;
  padding-left: 15px;
}

.link {
  z-index: 98;
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.link img {
  width: 20px;
  height: 20px;
  filter: invert(1);
  vertical-align: middle;
}

.header {
  position: absolute;
  grid-column: 1/3;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  display: grid;
  width: 100%;
  background-color: white;
  height: 150px;
  margin-left: 200px;
  z-index: 90;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  position: inherit;
  top: 30px;
  left: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-bar img {
  width: 20px;
}

input {
  border-radius: 10px;
  width: 600px;
  padding: 5px;
  background-color: #d5d6da;
  border: none;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 200px;
}

.profile-section p {
  font-weight: bold;
}

.profile-section img {
  width: 20px;
}

.profile-picture {
  width: 60px;
  border-radius: 10px;
  margin-left: 20px;
}

.welcome-user-section {
  position: relative;
  top: 60px;
  left: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.welcome-user-section img {
  width: 50px;
  border-radius: 50%;
}

.greeting-block {
  display: grid;
  position: relative;
  left: 10px;
  width: 18.75rem;
}

.greeting-block p {
  font-weight: bold;
}

.button-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 6px;
  left: 400px;
}

.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  background-color: var(--primary-blue);
  color: white;
  padding: 5px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.main-content {
  position: absolute;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 180px;
  top: 160px;
  left: 270px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
  top: 10px;
}

.project-cards {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  overflow-y: auto;
}

.card-content {
  flex: 1;
}

.card-btn-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding-top: 10px;

  gap: 20px;
  justify-content: flex-end;
}

.card-btn-container button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.card-btn-container img {
  width: 20px;
}

.bulletin-board {
  position: absolute;
  display: grid;
  right: 300px;
  top: 20px;
  width: fit-content;
  gap: 40px;
}

.news-container {
  margin-top: 10px;
  height: auto;
  width: fit-content;
  margin-right: 10px;
  overflow-y: hidden;
}

.announcement-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 250px;
  width: 250px;
  overflow-y: auto;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  padding: 20px;
  border-radius: 5px;
}

.announcement-content {
  width: 200px;
}

.announcement-content p {
  font-size: 12px;
  padding-bottom: 5px;
}

.announcement-content:not(:last-child) {
  border-bottom: #d5d6da 1px solid;
}

.announcement-content h3 {
  font-size: 12px;
}

.headliner {
  padding-top: 10px;
  padding-bottom: 5px;
}

.trending-board {
  background-color: white;
  height: 250px;
  width: 250px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
  border-radius: 5px;
}
