@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

body {
  background-color: #a9a9a9;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  position: fixed;
  grid-row: 2/4;
  display: grid;
  background-color: #6495ed;
  height: 100vh;
  width: 200px;
  align-items: center;
  color: white;
  font-weight: bold;
  z-index: 100;
}

.header {
  position: relative;
  grid-column: 1/3;
  grid-template-columns: 1fr 2fr;
  display: grid;
  width: 100%;
  background-color: white;
  height: 100px;
  margin-left: 200px;
  z-index: 90;
  box-shadow: 10px 2px 5px black;
  justify-content: center;
  align-items: center;
}

.search-container {
  margin-left: 10px;
  display: flex;
}

input {
  border-radius: 10px;
  width: 400px;
  padding: 5px;
}

.link {
  padding-left: 15px;
}
